@(id: Long, studentForm: Form[Student], students : Seq[(String, String)])(implicit messages: Messages)

@import b3.vertical.fieldConstructor

@main {

    <h1>Edit student</h1>

    @b3.form(routes.HomeController.update(id)) {

        <fieldset>

            @b3.text(studentForm("name"), '_label -> "Student name", '_help -> "")
            @b3.date(studentForm("birthdate"), '_label -> "Birth date", '_help -> "")
            @b3.date(studentForm("entrydate"), '_label -> "Entry date", '_help -> "")

            @b3.select(
                studentForm("program"),
                students,
                '_label -> "Program", '_default -> "-- Choose a program --",
                '_showConstraints -> false
            )

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this student" class="btn primary"> or
            <a href="@routes.HomeController.list()" class="btn">Cancel</a>
        </div>

    }

    @b3.form(routes.HomeController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this student" class="btn danger">
    }

}
